    /* Webkit */
    ::selection {
    background: #c80831;
    }
    /* Gecko/Mozilla */
    ::-moz-selection {
    background: #c80831;
    }


    h1 a:hover,
    .box_image_holder .box_icon .fa-stack i.fa-stack-base,
    .q_percentage_with_icon,
    .filter_holder ul li.active span,
    .filter_holder ul li:hover span,
    .q_tabs .tabs-nav li.active a:hover,
    .q_tabs .tabs-nav li a:hover,
    .q_accordion_holder.accordion .ui-accordion-header:hover,
    .q_accordion_holder.accordion.with_icon .ui-accordion-header i,
    .testimonials .testimonial_text_inner p.testimonial_author span.author_company,
    .testimonial_content_inner .testimonial_author .company_position,
    .q_icon_with_title.center .icon_holder .font_awsome_icon i:hover,
    .q_box_holder.with_icon .box_holder_icon_inner .fa-stack i.fa-stack-base,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_progress_bars_icons_inner .bar.active i.fa-circle,
    .q_list.number ul>li:before,
    .q_social_icon_holder:hover .simple_social,
    .social_share_dropdown ul li :hover i,
    .social_share_list_holder ul li i:hover,
	.blog_holder.blog_masonry_date_in_image .social_share_list_holder ul li i:hover,
    .latest_post_inner .post_infos a:hover,
    .q_masonry_blog article .q_masonry_blog_post_info a:hover,
    .blog_holder article:not(.format-quote):not(.format-link) .post_info a:hover,
    .latest_post_inner .post_comments:hover i,
    .blog_holder article .post_description a:hover,
    .blog_holder article .post_description .post_comments:hover,
    .blog_like a:hover i,
    .blog_like a.liked i,
	.latest_post .blog_like a:hover span,
    article:not(.format-quote):not(.format-link) .blog_like a:hover span,
    .comment_holder .comment .text .replay,
    .comment_holder .comment .text .comment-reply-link,
    .header-widget.widget_nav_menu ul.menu li a:hover,
    aside .widget a:hover,
    aside .widget.posts_holder li:hover,
    .wpb_widgetised_column .widget a:hover,
    .wpb_widgetised_column .widget.posts_holder li:hover,
    .q_steps_holder .circle_small:hover span,
    .q_steps_holder .circle_small:hover .step_title,
    .header_top #lang_sel > ul > li > a:hover,
    .header_top #lang_sel_click > ul > li> a:hover,
    .header_top #lang_sel_list ul li a.lang_sel_sel,
    .header_top #lang_sel_list ul li a:hover,
    aside .widget #lang_sel a.lang_sel_sel:hover,
    aside .widget #lang_sel_click a.lang_sel_sel:hover,
    aside .widget #lang_sel ul ul a:hover,
    aside .widget #lang_sel_click ul ul a:hover,
    aside .widget #lang_sel_list li a.lang_sel_sel,
    aside .widget #lang_sel_list li a:hover,
    .wpb_widgetised_column .widget #lang_sel a.lang_sel_sel:hover,
    .wpb_widgetised_column .widget #lang_sel_click a.lang_sel_sel:hover,
    .wpb_widgetised_column .widget #lang_sel ul ul a:hover,
    .wpb_widgetised_column .widget #lang_sel_click ul ul a:hover,
    .wpb_widgetised_column .widget #lang_sel_list li a.lang_sel_sel,
    .wpb_widgetised_column .widget #lang_sel_list li a:hover,
    .service_table_inner li.service_table_title_holder i,
    .latest_post_two_holder .latest_post_two_text a:hover,
            .myaccount_user a,
        .woocommerce .select2-results li.select2-highlighted,
        .woocommerce-page .select2-results li.select2-highlighted,
        .woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,
        .woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,
        .woocommerce ins, .woocommerce-page ins,
        .woocommerce ul.products li.product:hover h6,
        .woocommerce div.product div.product_meta > span a:hover,
        .woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
        .woocommerce-page div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
        .woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong,
        .woocommerce .checkout-opener-text a,
        .woocommerce form.checkout table.shop_table tfoot tr.order-total th,
        .woocommerce form.checkout table.shop_table tfoot tr.order-total td span.amount,
        .woocommerce aside ul.product_list_widget li > a:hover,
        .woocommerce aside ul.product-categories li > a:hover,
        .woocommerce aside ul.product_list_widget li span.amount,
		aside ul.product_list_widget li span.amount,
        .woocommerce aside .widget ul.product-categories a:hover,
        .woocommerce-page aside .widget ul.product-categories a:hover,        
        .wpb_widgetised_column ul.product_list_widget li > a:hover,
        .wpb_widgetised_column ul.product-categories li > a:hover,
        .wpb_widgetised_column ul.product_list_widget li span.amount,
        .wpb_widgetised_column .widget ul.product-categories a:hover,
        .shopping_cart_header .header_cart:hover i,
        .woocommerce-product-rating a:hover,
		.select2-container--default.select2-container--open .select2-selection--single,
		.select2-container--default .select2-results__option[aria-selected=true],
		.select2-container--default .select2-results__option--highlighted[aria-selected],
        .q_team .q_team_social_holder .q_social_icon_holder:hover .simple_social,
	.portfolio_template_8 .portfolio_detail .info .category,
	.portfolio_navigation.navigation_title .post_info span.categories,
	.qode_portfolio_related .projects_holder article .portfolio_description .project_category,
	.blog_compound article .post_content .blog_like a:hover, 
	.blog_compound article .post_content .blog_like a:hover span, 
	.blog_compound article .post_content .blog_share a:hover, 
	.blog_compound article .post_content .blog_share a:hover span, 
	.blog_compound article .post_content .post_comments:hover, 
	.blog_compound article .post_content .post_comments:hover span,
	.blog_holder.blog_pinterest article.format-link .post_info a:hover, 
	.blog_holder.blog_pinterest article.format-quote .post_info a:hover,
	.blog_compound .post_title .category a,
	.blog_compound .post_title .category span.date,
	.q_price_table.qode_pricing_table_advanced .qode_pt_subtitle,
	.q_price_table.qode_pricing_table_advanced .qode_pt_additional_info .qode_pt_icon,
	.q_price_table.qode_pricing_table_advanced .price_table_inner .value,
	table.tt_timetable .event .event_header,
	table.tt_timetable .event a,
	.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
	.tt_tabs .tt_tabs_navigation li a:hover,
    .qode-owl-slider .owl-nav .owl-next:hover .qode-next-icon,
    .qode-owl-slider .owl-nav .owl-next:hover .qode-prev-icon,
    .qode-owl-slider .owl-nav .owl-prev:hover .qode-next-icon,
    .qode-owl-slider .owl-nav .owl-prev:hover .qode-prev-icon,
    .qode-owl-slider-style .owl-nav .owl-next:hover .qode-next-icon,
    .qode-owl-slider-style .owl-nav .owl-next:hover .qode-prev-icon,
    .qode-owl-slider-style .owl-nav .owl-prev:hover .qode-next-icon,
    .qode-owl-slider-style .owl-nav .owl-prev:hover .qode-prev-icon
	{
        color: #c80831 !important;
    }
	h2 a:hover,
	h3 a:hover,
	h4 a:hover,
	h5 a:hover,
	h6 a:hover,
	a:hover,
	p a:hover,
	.portfolio_share .social_share_holder a:hover,
	.breadcrumb .current,
	.breadcrumb a:hover,
	.q_icon_with_title .icon_with_title_link,
	.q_counter_holder span.counter,
	.q_font_awsome_icon i,
    .q_font_awsome_icon span,
	.q_dropcap,
	.q_counter_holder span.counter,
	nav.mobile_menu ul li a:hover,
	nav.mobile_menu ul li.active > a,
	.q_progress_bars_icons_inner.square .bar.active i,
	.q_progress_bars_icons_inner.circle .bar.active i,
	.q_progress_bars_icons_inner.normal .bar.active i,
	.q_font_awsome_icon_stack .fa-circle,
	.footer_top .q_social_icon_holder:hover .simple_social,
	.more_facts_button:hover,
	.box_holder_icon .fa-stack i,
	.blog_large_image_simple .minimalist_date,
	nav.content_menu ul li.active:hover i,
	nav.content_menu ul li:hover i,
	nav.content_menu ul li.active:hover a,
	nav.content_menu ul li:hover a,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
    .q_font_awsome_icon i:hover,
    .q_font_awsome_icon span:hover,
    .fullscreen_search_holder .search_submit:hover,
    .title .text_above_title,
	.qode-comparative-features-table .qode-cft-link:hover,
	.qode-comparative-features-table .qode-cft-mark.qode-cft-active,
	.qode-blog-carousel-titled .qode-bct-post .qode-bct-post-date,
	.qode-showcase-icon .qode-icon-holder.qode-icon-circle .qode-icon-element,
	.qode-horizontal-timeline .qode-timeline-navigation a.qode-prev,
	.qode-horizontal-timeline .qode-timeline-navigation a.qode-next
	{

		color: #c80831;
	}

    .box_image_with_border:hover,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .portfolio_slides .hover_feature_holder_inner .qbutton:hover,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_progress_bars_icons_inner.square .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.square .bar.active .bar_active,
    .q_progress_bars_icons_inner.circle .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.circle .bar.active .bar_active,
    .widget.widget_search form.form_focus,
    .q_steps_holder .circle_small_wrapper,
    .animated_icon_inner span.animated_icon_back i,
    body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
    body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner,
            .woocommerce .button:hover,
        .woocommerce-page .button:hover,
        .woocommerce #submit:hover,
        .woocommerce ul.products li.product a.qbutton:hover,
        .woocommerce-page ul.products li.product a.qbutton:hover,
        .woocommerce ul.products li.product .added_to_cart:hover,
        input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
    .tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected{
        border-color: #c80831    }

    .tt_tabs .tt_tabs_navigation .ui-tabs-active a,
    .tt_tabs .tt_tabs_navigation li a:hover,
    .tt_tabs .tt_tabs_navigation li a{
        border-color: #c80831 !important;
	}

    .q_icon_list i,
    .q_progress_bar .progress_content,
    .q_progress_bars_vertical .progress_content_outer .progress_content,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
	.post-password-form input[type='submit']:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .call_to_action,
    .highlight,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_dropcap.circle,
    .q_dropcap.square,
    .q_message,
    .q_price_table.active .active_text,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_font_awsome_icon_square,
    .q_icon_with_title.square .icon_holder .fa-stack:hover,
    .box_holder_icon_inner.square .fa-stack:hover,
    .box_holder_icon_inner.circle .fa-stack:hover,
    .circle .icon_holder .fa-stack:hover,
    .q_list.number.circle_number ul>li:before,
    .q_social_icon_holder.circle_social .fa-stack:hover,
    .social_share_dropdown ul li.share_title,
    .latest_post_holder .latest_post_date .post_publish_day,
    .q_masonry_blog article.format-link:hover,
    .q_masonry_blog article.format-quote:hover,
    #wp-calendar td#today,
    .vc_text_separator.full div,
    .mejs-controls .mejs-time-rail .mejs-time-current,
    .mejs-controls .mejs-time-rail .mejs-time-handle,
    .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .wp-audio-shortcode .mejs-controls .mejs-time-rail .mejs-time-current,
    .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .q_pie_graf_legend ul li .color_holder,
    .q_line_graf_legend ul li .color_holder,
    .q_team .q_team_text_inner .separator,
    .circle_item .circle:hover,
    .qode_call_to_action.container,
    .qode_carousels .flex-control-paging li a.flex-active,
    .animated_icon_inner span.animated_icon_back i,
            .woocommerce .button:hover,
        .woocommerce-page .button:hover,
        .woocommerce #submit:hover,
        .woocommerce ul.products li.product a.qbutton:hover,
        .woocommerce-page ul.products li.product a.qbutton:hover,
        .woocommerce ul.products li.product .added_to_cart:hover,
        .woocommerce .quantity .minus:hover,
        .woocommerce #content .quantity .minus:hover,
        .woocommerce-page .quantity .minus:hover,
        .woocommerce-page #content .quantity .minus:hover,
        .woocommerce .quantity .plus:hover,
        .woocommerce #content .quantity .plus:hover,
        .woocommerce-page .quantity .plus:hover,
        .woocommerce-page #content .quantity .plus:hover,
        .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
        .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range,
    	.q_circles_holder .q_circle_inner2:hover,
    input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
    .portfolio_main_holder .item_holder.image_text_zoom_hover .icons_holder a,
    .portfolio_main_holder .item_holder.slow_zoom .icons_holder a,
	.qode_video_box .qode_video_image:hover .qode_video_box_button,
	.blog_holder.masonry_gallery article.format-link:hover,
	.blog_holder.masonry_gallery article.format-quote:hover,
	.blog_holder.blog_chequered article.format-link:hover,
	.blog_holder.blog_chequered article.format-quote:hover,
	.qode-pricing-calculator .qode-pricing-calculator-switch input:checked+.qode-pricing-calculator-slider,
	.qode-icon-holder.qode-icon-circle,
	.qode-icon-holder.qode-icon-square,
	.qode-qbutton-main-color,
	.qode-advanced-tabs .qode-advanced-tabs-nav li,
	.qode-accordion-holder .qode-title-holder.ui-state-active,
	.qode-accordion-holder .qode-title-holder.ui-state-hover,
	header.menu_bottom .header_bottom_right_widget_holder .header_bottom_widget.widget_search form>div input[type=text],
    .qode-advanced-call-to-action.qode-advanced-cta-gradient-animation .qode-advanced-cta-background-3,
    .tt_tabs .tt_tabs_navigation li a,
    .tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected,
    .tabs_box_navigation.sf-timetable-menu li ul li a:hover,
    .tabs_box_navigation.sf-timetable-menu li ul li.selected a:hover,
    #qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner .qode-mds-pulse,
	.qode-horizontal-timeline .qode-events-wrapper .qode-events .qode-filling-line,
	.qode-horizontal-timeline .qode-events-wrapper .qode-events a .circle-outer,
	.no-touch .qode-horizontal-timeline .qode-events-wrapper .qode-events a:hover .circle-outer,
	.qode-horizontal-timeline .qode-events-wrapper .qode-events a.selected .circle-outer
	{
        background-color: #c80831;
    }


	.qode-showcase-item-holder.qode-showcase-active .qode-icon-holder.qode-icon-circle{
	background-color: #c80831 !important;
	}

    .q_circles_holder .q_circle_inner2:hover,
    body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
	body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner {
        background-color: #c80831 !important;
        border-color: #c80831 !important;
    }

    .qode-lazy-preloader svg circle,
    #qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner svg circle {
        stroke: #c80831    }


    h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6,
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a
    a,
    p a,
    nav.main_menu>ul>li.active > a,
    .drop_down .wide .second ul li ul li.menu-item-has-children > a,
    .drop_down .wide .second ul li ul li.menu-item-has-children > a:hover,
    .title h1,
    .q_icon_list p,
    .q_progress_bars_vertical .progress_number,
    .qbutton,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
	.post-password-form input[type='submit'],
    .load_more a,
    .blog_load_more_button a,
    #submit_comment,
    .drop_down .wide .second ul li .qbutton,
    .drop_down .wide .second ul li ul li .qbutton,
    .q_percentage,
    .portfolio_navigation .portfolio_prev a:hover,
    .portfolio_navigation .portfolio_next a:hover,
    .q_tabs .tabs-nav li.active a,
    .q_accordion_holder.accordion .ui-accordion-header,
    .q_accordion_holder.accordion.with_icon .ui-accordion-header,
    .testimonials .testimonial_text_inner p.testimonial_author,
    .testimonial_content_inner .testimonial_author .website,
    .q_icon_with_title .icon_with_title_link:hover,
    .ordered ol li,
    .q_list.circle ul>li,
    .q_list.number ul>li,
    .latest_post_holder .latest_post_date .post_publish_month,
    .latest_post_inner .post_infos a,
    .latest_post_holder.dividers .latest_post_date .latest_post_day,
    .q_masonry_blog article.format-quote .q_masonry_blog_post_text p,
    .q_masonry_blog article.format-link .q_masonry_blog_post_text p,
    .q_masonry_blog article .q_masonry_blog_post_info,
    .blog_holder article.format-quote .post_text .post_title p,
    .blog_holder article.format-link .post_text .post_title p,
    .single_links_pages span,
    .single_links_pages a:hover span,
    .comment_holder .comment .text .name,
    .blog_holder.masonry article .post_info,
    .pagination ul li span,
    .pagination ul li a:hover,
    .q_team .q_team_description_inner p,
    .carousel-inner .item.dark .slider_content .text .qbutton,
    .carousel-control,
	.more_facts_button,

            .woocommerce div.message,
        .woocommerce .woocommerce-message,
        .woocommerce .woocommerce-error,
        .woocommerce .woocommerce-info,
        .myaccount_user,
        .woocommerce .button,
        .woocommerce-page .button,
        .woocommerce-page input[type="submit"],
        .woocommerce input[type="submit"],
        .woocommerce ul.products li.product .added_to_cart,
        .woocommerce .select2-container .select2-choice .select2-arrow .select2-arrow:after ,
        .woocommerce-page .select2-container .select2-choice .select2-arrow:after,
        .woocommerce-pagination ul.page-numbers li span.current,
        .woocommerce-pagination ul.page-numbers li a:hover,
        .woocommerce .quantity input.qty,
        .woocommerce #content .quantity input.qty,
        .woocommerce-page .quantity input.qty,
        .woocommerce-page #content .quantity input.qty,
        .woocommerce .summary p.stock.out-of-stock,
        .woocommerce aside ul.product_list_widget li a,
        .wpb_widgetised_column ul.product_list_widget li a,
        .woocommerce .widget_price_filter .price_label,
        .woocommerce-page .widget_price_filter .price_label,
    	.carousel-control:hover,
    input.wpcf7-form-control.wpcf7-submit:not([disabled]),
	.qode-pricing-calculator .qode-pricing-calculator-total-price-holder,
	.qode-advanced-tabs.qode-advanced-horizontal-tab .qode-advanced-tabs-nav li.ui-state-active a,
	.qode-advanced-tabs.qode-advanced-horizontal-tab .qode-advanced-tabs-nav li.ui-state-hover a
	{
        color: #1a1a1a;
    }

    .qbutton,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
	.post-password-form input[type='submit'],
    .load_more a,
    .blog_load_more_button a,
    #submit_comment,
    .drop_down .wide .second ul li .qbutton,
    .drop_down .wide .second ul li ul li .qbutton,
    .testimonials_holder .flex-direction-nav a,
    .header_top #lang_sel ul li ul li a,
    .header_top #lang_sel ul li ul li a:visited,
    .header_top #lang_sel_click ul li ul li a,
    .header_top #lang_sel_click ul li ul li a:visited,

            .woocommerce .button,
        .woocommerce-page .button,
        .woocommerce-page input[type="submit"],
        .woocommerce input[type="submit"],
        .woocommerce ul.products li.product .added_to_cart,
    	.carousel-inner .item.dark .slider_content .text .qbutton,
    input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
        border-color: #1a1a1a;
    }

    .ajax_loader .pulse,
    .ajax_loader .double_pulse .double-bounce1, .ajax_loader .double_pulse .double-bounce2,
    .ajax_loader .cube,
    .ajax_loader .rotating_cubes .cube1, .ajax_loader .rotating_cubes .cube2,
    .ajax_loader .stripes > div,
    .ajax_loader .wave > div,
    .ajax_loader .two_rotating_circles .dot1, .ajax_loader .two_rotating_circles .dot2,
    .ajax_loader .five_rotating_circles .container1 > div, .ajax_loader .five_rotating_circles .container2 > div, .ajax_loader .five_rotating_circles .container3 > div,
    .separator.small,
    .testimonials_holder .flex-direction-nav a:hover,
    .q_price_table .price_table_inner,
    .carousel-inner .item.dark .slider_content .text .qbutton:hover,
    .vertical_menu_hidden_button_line,
    .vertical_menu_hidden_button_line:after,.vertical_menu_hidden_button_line:before,
	.blog_vertical_loop_button .button_icon a,
	.blog_vertical_loop_back_button .button_icon a

            , .woocommerce .product .onsale,
        .woocommerce .product .single-onsale
     {
        background-color: #1a1a1a;
    }




    body{
    	    	    	font-family: 'Raleway', sans-serif;
    	    	 color: #6e6e6e;     	 font-size: 14px;     	font-weight: 400;    }
            body,
		.wrapper,
        .content,
        .full_width,
        .overlapping_content .content > .container,
		.more_facts_holder,
		.comment_holder .comment #respond textarea,
		.comment_holder .comment #respond input[type='text'],
		.comment_holder .comment #respond input[type='email'],
		.content .container
		{
        	background-color:#f3f2f2;
        }
		.angled-section polygon{
			fill: #f3f2f2;
		}
		        .woocommerce-cart .woocommerce .blockOverlay.blockUI {
            background-color:#f3f2f2 !important;
        }
    		
    


.header_bottom,
.header_top,
.fixed_top_header .bottom_header{
	background-color: rgba(255,255,255,1);
}



	.oblique-section.svg-title-bottom polygon{
		fill: #ffffff;
	}
	.breadcrumbs,
	.breadcrumb .current,
	.breadcrumb a{
	color:#171717;
	}




header.sticky .header_bottom{
	background-color: rgba(243,241,241,1) !important;
}

					header:not(.sticky):not(.scrolled) .header_bottom,
			header.fixed_top_header .bottom_header{
				border-bottom: 1px solid #f3f1f1;
			}
		





						.content{
				margin-top: -101px;
			}
				
	




        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 21px;
        }







nav.main_menu > ul > li > a{
	 color: #212121; 		font-family: 'Raleway', sans-serif;
		 font-size: 14px;     	 font-style: normal; 	 font-weight: 700; 	 letter-spacing: 0px; 	 text-transform: inherit; }


	nav.main_menu > ul > li > a{
		padding: 0 20px;
	}
	header.transparent .drop_down .second:not(.right){
		left: 19px;
	}

nav.main_menu ul li:hover a {
	 color: #c80831; }














	nav.mobile_menu ul li,
	nav.mobile_menu ul li,
	nav.mobile_menu ul li ul li,
    nav.mobile_menu ul li.open_sub > ul{
		border-color: #f3f0f1;
	}

	@media only screen and (max-width: 1000px){
		.header_bottom,
		nav.mobile_menu,
		header.fixed_top_header .top_header{
			background-color: #ffffff !important;
		}
	}
	@media only screen and (max-width: 1000px){
		.header_top{
			background-color: #ffffff !important;
		}
	}




h1,
.h1,
.title h1 {
		color: #ffffff; 		font-family: 'Raleway', sans-serif;
		font-size: 65px; 	line-height: 75px; 	font-style: inherit; 	font-weight: 700;     letter-spacing: 0px;     text-transform: inherit; }
.title h1{
	color: #000000; 						}


h2,
.h2,
h2 a{
	color: #212121; 		font-size: 40px; 	line-height: 50px; 	font-style: inherit; 	font-weight: 700;     letter-spacing: 0px; 	text-transform: inherit; }
h3,
.h3,
h3 a{
	color: #212121; 		font-family: 'Raleway', sans-serif;
		font-size: 26px; 	line-height: 34px; 	font-style: initial; 	font-weight: 700;     letter-spacing: 0.1px; 	text-transform: initial; }
h4,
.h4,
h4 a{
	color: #6f6f6f; 		font-size: 19px; 	line-height: 31px; 		font-weight: 300;     letter-spacing: 0px; 	}
h5,
.h5,
h5 a,
.q_icon_with_title .icon_text_holder h5.icon_title{
	color: #1a1a1a; 		font-family: 'Raleway', sans-serif;
		font-size: 28px; 	line-height: 52px; 	font-style: normal; 	font-weight: 700;     letter-spacing: 0.2px; 	text-transform: inherit; }
h6,
.h6,
h6 a {
			font-family: 'Raleway', sans-serif;
		font-size: 18px; 	line-height: 18px; 	font-style: normal;  	font-weight: 700; 	letter-spacing: 0px; 	text-transform: initial; }

    p{
    	color: #6e6e6e;    	    		font-family: 'Raleway', sans-serif;
    	    	font-size: 14px;    	line-height: 25px;    	font-style: normal;    	font-weight: 400;    	    	    }
    .filter_holder ul li span,
    blockquote h5,
    .q_social_icon_holder .simple_social,
    .header-widget.widget_nav_menu ul.menu li a,
    .side_menu a,
    .side_menu li,
    .side_menu span,
    .side_menu p,
    .side_menu .widget.widget_rss li a.rsswidget,
    .side_menu #wp-calendar caption,
    .side_menu #wp-calendar th, 
    .side_menu #wp-calendar td,
    aside .widget #lang_sel_list li a,
    aside .widget #lang_sel li a,
    aside .widget #lang_sel_click li a,
    .wpb_widgetised_column .widget #lang_sel_list li a,
    .wpb_widgetised_column .widget #lang_sel li a,
    .wpb_widgetised_column .widget #lang_sel_click li a,
    section.side_menu #lang_sel_list li a,
    section.side_menu #lang_sel li a,
    section.side_menu #lang_sel_click li a,
    footer #lang_sel_list li a,
    footer #lang_sel li a,
    footer #lang_sel_click li a,
    footer #lang_sel_list.lang_sel_list_horizontal a,
    footer #lang_sel_list.lang_sel_list_vertical a,
    .side_menu #lang_sel_list.lang_sel_list_horizontal a,
    .side_menu #lang_sel_list.lang_sel_list_vertical a,
    #lang_sel_footer a{
    	color: #6e6e6e;    }
    .header_top #lang_sel > ul > li > a, 
    .header_top #lang_sel_click > ul > li> a,
    footer #lang_sel ul li a,
    footer #lang_sel ul ul a,
    footer #lang_sel_click ul li a,
    footer #lang_sel_click ul ul a,
    footer #lang_sel_click ul ul a span,
    section.side_menu #lang_sel ul li a,
    section.side_menu #lang_sel ul ul a,
    section.side_menu #lang_sel ul ul a:visited,
    section.side_menu #lang_sel_click > ul > li > a,
    section.side_menu #lang_sel_click ul ul a,
    section.side_menu #lang_sel_click ul ul a:visited{
    	color: #6e6e6e !important;    }
            .woocommerce del,
        .woocommerce-page del,
        .woocommerce input[type='text']:not(.qode_search_field),
        .woocommerce input[type='password'],
        .woocommerce input[type='email'],
        .woocommerce-page input[type='text']:not(.qode_search_field),
        .woocommerce-page input[type='password'],
        .woocommerce-page input[type='email'],
        .woocommerce-page input[type='tel'],
        .woocommerce textarea,
        .woocommerce-page textarea,
        .woocommerce .select2-container .select2-choice,
        .woocommerce-page .select2-container .select2-choice,
        .woocommerce .select2-dropdown-open.select2-drop-above .select2-choice,
        .woocommerce .select2-dropdown-open.select2-drop-above .select2-choices,
        .woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice,
        .woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choices,
        .woocommerce .chosen-container.chosen-container-single .chosen-single,
        .woocommerce-page .chosen-container.chosen-container-single .chosen-single,
        .woocommerce-checkout .form-row .chosen-container-single .chosen-single,
        .woocommerce ul.products li.product h4,
        .woocommerce div.product p[itemprop='price'] del,
        .woocommerce div.product p[itemprop='price'] del span.amount,
        .woocommerce div.product div.product_meta > span span,
        .woocommerce div.product div.product_meta > span a,
        .woocommerce aside ul.product_list_widget li > a,
        .woocommerce aside ul.product-categories li > a,
        .woocommerce aside ul.product_list_widget li del span.amount,
        .wpb_widgetised_column ul.product_list_widget li > a,
        .wpb_widgetised_column ul.product-categories li > a,
        .wpb_widgetised_column ul.product_list_widget li del span.amount,
        .shopping_cart_dropdown ul li a,
        .select2-drop{
            color: #6e6e6e;
        }
    






.qbutton,
.qbutton.medium,
#submit_comment,
.load_more a,
.blog_load_more_button a,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit,
input.wpcf7-form-control.wpcf7-submit:not([disabled]),
.woocommerce table.cart td.actions input[type="submit"],
.woocommerce input#place_order,
.woocommerce-page input[type="submit"],
.woocommerce .button
	{
	color: #ffffff; 		font-family: 'Raleway', sans-serif;
	
    	border-color: #c80831; 
		font-size: 14px; 		line-height: 48px; 		height: 48px; 		font-style: normal; 		font-weight: 700; 		background-color: #c80831; 		border-radius: 25px; 		-moz-border-radius: 25px; 		-webkit-border-radius: 25px; 		letter-spacing: 0px; 		text-transform: inherit; 			padding-left: 55px; padding-right: 55px; }

.qode-qbutton-main-color {
		font-family: 'Raleway', sans-serif;
			font-size: 14px; 		line-height: 48px; 		height: 48px; 		font-style: normal; 		font-weight: 700; 		letter-spacing: 0px; 		text-transform: inherit; }


	.qbutton:hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
	 color: #ffffff; 
	 border-color: #1a1a1a	}

	.qbutton:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
		 background-color: #1a1a1a; 			}
	.qbutton.small{

		font-size: 14px; 		line-height: 34px; 		height: 34px; 		font-weight: 700; 				border-radius: 0px; 		-moz-border-radius: 0px; 		-webkit-border-radius: 0px; 
	}







.google_map{
	height: 750px;
}




	.footer_top,
	.footer_top p,
    .footer_top span,
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span {
		color: #ffffff;
	}
    .footer_top a
	{
        color: #ffffff !important;
    }

    .footer_top .q_social_icon_holder .simple_social {
        color: #ffffff;
    }
    .footer_top a:hover
	{
        color: #c80831 !important;
    }

    .footer_top .q_social_icon_holder:hover .simple_social {
        color: #c80831;
    }







	.footer_top h5 {
font-family: "Raleway", sans-serif;font-size: 18px;letter-spacing: 0px;line-height: 28px;font-weight: 600;text-transform: inherit;color: #ffffff	}

	.footer_top,
	.footer_top p,
	.footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_shortcode):not(.qode_icon_font_elegant),
	.footer_top li,
	.footer_top .textwidget,
	.footer_top .widget_recent_entries>ul>li>span{
	font-family: "Raleway", sans-serif;font-size: 14px;font-weight: 300;font-style: normal	}


	.footer_top,
	.footer_top .footer_col1,
	.footer_top .container_inner > .widget,
	.footer_top.footer_top_full > .widget{
		text-align: center;
	}

    .footer_bottom_holder,
    .footer_bottom,
    .footer_bottom p,
    .footer_bottom_holder p,
    .footer_bottom span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_font_elegant){
	font-family: "Raleway", sans-serif;font-size: 14px;letter-spacing: 0px;line-height: 27px;font-weight: 300;text-transform: lowercase;font-style: normal	}


.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
footer #lang_sel > ul > li > a,
footer #lang_sel_click > ul > li > a,
footer #lang_sel a.lang_sel_sel,
footer #lang_sel_click a.lang_sel_sel,
footer #lang_sel ul ul a,
footer #lang_sel_click ul ul a,
footer #lang_sel ul ul a:visited,
footer #lang_sel_click ul ul a:visited,
footer #lang_sel_list.lang_sel_list_horizontal a,
footer #lang_sel_list.lang_sel_list_vertical a,
#lang_sel_footer a,
.footer_bottom ul li a {
	color:#ffffff;
}


























/*Blog Masonry Gallery - end */




























    .side_menu_button > a,
    .mobile_menu_button span,
	.fixed_top_header .side_menu_button > a,
    .fixed_top_header .popup_menu .line,
    .fixed_top_header .mobile_menu_button span{ color: #c80831; }

    .popup_menu .line,
    .popup_menu .line:after, .popup_menu .line:before{
        background-color: #c80831;
    }
    .side_menu_button > a:hover,
    .mobile_menu_button span:hover,
    .popup_menu:hover .line,
    .popup_menu:hover .line:after,
    .popup_menu:hover .line:before{ color: #171717; }

    .popup_menu:hover .line,
    .popup_menu:hover .line:after, .popup_menu:hover .line:before{
        background-color: #171717;
    }
  
 
 .vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
}

.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
}

 
 
 




	.vertical_menu_area{
		text-align:left;
	}
	


















    .portfolio_main_holder .item_holder.thin_plus_only .thin_plus_only_icon {
        font-family:     }

	.cf7_custom_style_1  input.wpcf7-form-control.wpcf7-submit,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
		width: 100%; text-align: center; box-sizing: border-box; padding: 0	}


	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz{
		background-color: #f0eeee;border-color: #f0eeee;border-top-left-radius: 25px;border-top-right-radius: 25px;border-bottom-right-radius: 25px;border-bottom-left-radius: 25px;color: #6f6f6f;font-family: Raleway;font-size: 14px;line-height: 30px;font-style: normal;font-weight: 300;letter-spacing: 0px;text-transform: initial;margin-bottom: 11px;	}

	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus{
		color: #6f6f6f;background-color: #f0eeee;border-color: #f0eeee;	}





	.cf7_custom_style_3  input.wpcf7-form-control.wpcf7-submit,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
		background-color: #c80831;border-color: #c80831;border-top-left-radius: 28px;border-top-right-radius: 28px;border-bottom-right-radius: 28px;border-bottom-left-radius: 28px;color: #ffffff;font-size: 15px;font-style: normal;font-weight: 500;letter-spacing: 0px;height: 55px;line-height: 55px;padding: 0 60px;	}

	.cf7_custom_style_3  input.wpcf7-form-control.wpcf7-submit:hover,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
		color: #ffffff;background-color: #c80831;border-color: #c80831;	}

	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz{
		background-color: #ffffff;border-color: #ffffff;border-top-left-radius: 28px;border-top-right-radius: 28px;border-bottom-right-radius: 28px;border-bottom-left-radius: 28px;color: #6f6f6f;font-family: Raleway;font-size: 14px;line-height: 30px;font-weight: 300;letter-spacing: 0px;margin-top: 0px;margin-bottom: 0px;	}

	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus,
	.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus,
	.cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus{
		color: #6f6f6f;background-color: #ffffff;border-color: #ffffff;	}

	.cf7_custom_style_1 ::-webkit-input-placeholder{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_1 :-moz-placeholder{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_1 ::-moz-placeholder{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_1 :-ms-input-placeholde{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_3 ::-webkit-input-placeholder{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_3 :-moz-placeholder{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_3 ::-moz-placeholder{
		color: #6f6f6f;opacity:1;	}
	.cf7_custom_style_3 :-ms-input-placeholde{
		color: #6f6f6f;opacity:1;	}
			.cf7_custom_style_1 input:focus::-webkit-input-placeholder,
		.cf7_custom_style_1 textarea:focus::-webkit-input-placeholder{
		color: #6f6f6f;		}
				.cf7_custom_style_1 input:focus:-moz-placeholder,
		.cf7_custom_style_1 textarea:focus:-moz-placeholder{
		color: #6f6f6f;		}
				.cf7_custom_style_1 input:focus::-moz-placeholder,
		.cf7_custom_style_1 textarea:focus::-moz-placeholder{
		color: #6f6f6f;		}
				.cf7_custom_style_1 input:focus:-ms-input-placeholder,
		.cf7_custom_style_1 textarea:focus:-ms-input-placeholder{
		color: #6f6f6f;		}
								.cf7_custom_style_3 input:focus::-webkit-input-placeholder,
		.cf7_custom_style_3 textarea:focus::-webkit-input-placeholder{
		color: #6f6f6f;		}
				.cf7_custom_style_3 input:focus:-moz-placeholder,
		.cf7_custom_style_3 textarea:focus:-moz-placeholder{
		color: #6f6f6f;		}
				.cf7_custom_style_3 input:focus::-moz-placeholder,
		.cf7_custom_style_3 textarea:focus::-moz-placeholder{
		color: #6f6f6f;		}
				.cf7_custom_style_3 input:focus:-ms-input-placeholder,
		.cf7_custom_style_3 textarea:focus:-ms-input-placeholder{
		color: #6f6f6f;		}
		.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea{
	height: 106px;
	}
	.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea{
	height: 50px;
	}
		.qode_search_form,
		.qode_search_form input,
		.qode_search_form input:focus {
			background-color: #ffffff;		}
			.qode_search_form i,
		.qode_search_form .container input {
			color: #171717;		}
		


	.qode_search_form_2 input[type="text"],
	.qode_search_form_2 input[type="text"]:focus,
	.qode_search_form_3 input[type="text"],
	.qode_search_form_3 input[type="text"]:focus,
	.fullscreen_search_holder .search_field,
	.fullscreen_search_holder .search_field:focus,
	.qode_search_form input, 
	.qode_search_form input:focus{
		color: #171717    }




	.fullscreen_search_holder .search_label{
		color: #171717    }


    .qode_search_form_2 .qode_search_submit,
	.qode_search_form_3 .qode_search_close a,
	.fullscreen_search_holder .search_submit,
	.qode_search_form  i,
	.qode_search_form .qode_icon_in_search{
		color: #c80831;
    }




    .fullscreen_search_holder .field_holder{
		border-color: #dd3333;
    }


    .fullscreen_search_holder .close_container a,
	.fullscreen_search_close,
	.qode_search_form_3 .qode_search_close a,
	.qode_search_form .qode_search_close i,
    .qode_search_form .qode_search_close .qode_icon_in_search{
		color: #171717;
    }




	.qode_search_form_2,
	.qode_search_form_2 input[type="text"],
	.qode_search_form_2 input[type="text"]:focus,
	.qode_search_form_3,
	.qode_search_form_3 input[type="text"],
	.qode_search_form_3 input[type="text"]:focus,
	.fullscreen_search_overlay,
	.fullscreen_search_holder.fade,
	.qode_search_form,
	.qode_search_form input, 
	.qode_search_form input:focus{
		background-color: #ffffff;
    }















    .woocommerce ul.products li.product h6,
    .qode_product_list_holder .product_title {
        font-family: Raleway, sans-serif;font-size: 22px;line-height: 33px;letter-spacing: 0px;font-weight: 600;font-style: normal;text-transform: none;color: #1a1a1a;text-align: left;padding: 0    }

    .woocommerce ul.products li.product:hover h6 {
        color: #c80831 !important;
    }

.woocommerce-page ul.products li.product .product-categories,
.woocommerce ul.products li.product .product-categories{
	text-align: left}
.product-category .after-title-spearator{
	margin-left:0;}
    .woocommerce ul.products li.product .price,
    .woocommerce ul.products li.product .price ins,
    .qode_product_list_holder .product_price {
        color: #6e6e6e !important;font-size: 19px;line-height: 29px;font-family: Raleway, sans-serif;font-style: normal;font-weight: 300;letter-spacing: 0px;text-align: left    }

	.woocommerce aside ul.product_list_widget li span.amount,
	aside ul.product_list_widget li span.amount,
	.wpb_widgetised_column ul.product_list_widget li span.amount{
		color: #6e6e6e !important;
	}





    .woocommerce .qbutton.add-to-cart-button,
    .woocommerce .single_add_to_cart_button,
    .woocommerce .woocommerce-message a.button,
    .woocommerce ul.products li.product .added_to_cart {
        font-size: 14px;line-height: 44px;height: 44px;letter-spacing: 0.5px    }


    .woocommerce-page ul.products li.product a.product-category.product-info,
    .woocommerce ul.products li.product a.product-category.product-info {
        background-color: #ffffff    }

    .woocommerce .product h1.product_title {
    font-family: Raleway, sans-serif;font-size: 40px;line-height: 50px;letter-spacing: 0px;font-weight: 700;font-style: normal;text-transform: initial;color: #212121;margin-bottom: 0px    }

    .woocommerce div.product .summary p.price,
    .woocommerce div.product .summary p.price span.amount {
    font-weight: 300    }








    #back_to_top span i,
    #back_to_top span span{
    	color: #ffffff;
	}
    #back_to_top:hover span i,
    #back_to_top:hover span span{
    	color: #ffffff;
	}

	#back_to_top > span{
		background-color: rgba(26,26,26,1);border-color: rgba(26,26,26,1);border-width:4px;border-style: solid	}
	#back_to_top:hover > span{
		background-color: rgba(200,8,49,1);border-color: rgba(200,8,49,1)	}























	
	







    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }








.qode-course-single-holder .qode-course-tabs-wrapper .qode-tabs-nav li a, .qode-course-single-holder .qode-course-tabs-wrapper .qode-course-curriculum .qode-section-name, .qode-course-single-holder .qode-course-tabs-wrapper .qode-course-curriculum .qode-section-elements .qode-section-elements-summary i, .qode-course-single-holder .qode-course-tabs-wrapper .qode-course-curriculum .qode-section-element .qode-element-label, .qode-course-single-holder .qode-course-tabs-wrapper .qode-course-curriculum .qode-section-element .qode-element-title .qode-element-icon, .qode-instructor-single-holder .qode-instructor-single-outer .qode-instructor-single-info-holder .qode-ts-content-holder .qode-tabs .qode-tabs-nav li a, .qode-cl-filter-holder .qode-course-layout-filter, .qode-course-list-holder.qode-cl-minimal article .qode-ci-price-holder, #tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a, #tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover, #tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-next a:hover, #tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-previous a:hover, #tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .entry-title, .qode-tribe-events-single .qode-events-single-meta .qode-events-single-navigation-holder .qode-events-single-next-event .qode-events-nav-text .qode-events-nav-label, .qode-tribe-events-single .qode-events-single-meta .qode-events-single-navigation-holder .qode-events-single-prev-event .qode-events-nav-text .qode-events-nav-label, .qode-tribe-events-single .qode-events-single-meta .qode-events-single-meta-item a, .qode-cl-filter-holder .qode-course-layout-filter span:hover, .qode-course-list-holder.qode-cl-standard article:hover .qode-cl-item-inner .qode-cli-text-holder .qode-cli-bottom-info .qode-students-number-holder, .qode-course-features-holder .qode-course-features li .qode-item-icon, .qode-course-single-holder .qode-course-tabs-wrapper .qode-course-curriculum .qode-section-element .qode-element-name:hover, .qode-course-popup .qode-course-popup-items .qode-section-elements-summary i, .qode-course-popup .qode-course-popup-items .qode-section-element .qode-element-title .qode-element-icon, .qode-course-popup .qode-course-popup-items .qode-section-element .qode-element-label, .qode-course-popup .qode-course-popup-items .qode-section-element .qode-element-name:hover, .qode-lesson-single-holder .qode-lms-message { color: #c80831;}

.qode-course-list-widget .qode-course-list-holder.qode-cl-minimal article .qode-cli-text h5 a:hover { color: #c80831!important;}

.qode-instructor-single-holder .qode-instructor-single-outer .qode-instructor-single-info-holder .qode-ts-info-holder .qode-social .qode_icon_shortcode a:hover, .qode-instructor.info-bellow .qode-instructor-social-holder-between .qode_icon_shortcode a:hover, .qode-cl-filter-holder .qode-course-items-order .select2-container--default .select2-selection--single, #tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-submit .tribe-events-button, #tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td.tribe-events-has-events div[id*=tribe-events-daynum-], .qode-course-slider-holder .qode-course-list-holder .owl-nav .owl-next, .qode-course-slider-holder .qode-course-list-holder .owl-nav .owl-prev, .qode-instructor-slider-holder .qode-owl-slider .owl-nav .owl-next, .qode-instructor-slider-holder .qode-owl-slider .owl-nav .owl-prev, .qode-tribe-events-single .qode-events-single-date-holder, .qode-instructor.info-hover .qode-instructor-social-holder-between .qode_icon_shortcode a:hover, .qode-events-list-item-title-holder .qode-events-list-item-price.qode-free, .qode-course-popup .qode-popup-heading { background-color: #c80831;}

.qode-cl-filter-holder .qode-course-items-order .select2-container--default .select2-selection--single, #tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views, .qode-instructor.info-bellow .qode-instructor-social-holder-between .qode_icon_shortcode a:hover, .qode-instructor.info-hover .qode-instructor-social-holder-between .qode_icon_shortcode a:hover { border-color: #c80831;}

.qode-course-list-holder.qode-cl-standard article .qode-cli-text-holder .qode-cli-bottom-info, .qode-course-list-holder.qode-cl-standard article .qode-cli-text-holder .qode-cli-text-wrapper, .qode-instructor.simple .qode-instructor-inner, .qode-course-table-holder tbody tr { border-color: rgba(200,8,49,.1);}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text], .qode-tribe-events-single .qode-events-single-date-holder, .qode-instructor.info-hover .qode-instructor-social-holder-between .qode_icon_shortcode a, .qode-instructor.info-bellow .qode-instructor-social-holder-between .qode_icon_shortcode a, .qode-instructor.info-bellow .qode-instructor-image a, .qode-course-list-holder article .qode-cl-item-inner, .qode-course-list-holder article .qode-cl-item-inner, .qode-course-slider-holder .qode-course-list-holder .owl-nav .owl-next, .qode-course-slider-holder .qode-course-list-holder .owl-nav .owl-prev, .qode-instructor.simple .qode-instructor-inner, .qode-instructor.simple .qode-instructor-image a, #tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar, .qode-instructor-single-holder .qode-instructor-single-outer .qode-instructor-single-info-holder .qode-ts-content-holder .qode-tabs .qode-tab-container { box-shadow: 3px 4px 8px 0 rgba(200,8,49,.1);-webkit-box-shadow: 3px 4px 8px 0 rgba(200,8,49,.1);}

.qode-course-list-holder.qode-cl-standard article:hover .qode-cl-item-inner, .qode-instructor.info-bellow .qode-instructor-image a:hover, .qode-instructor.simple .qode-instructor-inner:hover { box-shadow: 5px 7px 10px 0 rgba(200,8,49,.1);-webkit-box-shadow: 5px 7px 10px 0 rgba(200,8,49,.1);}


			.qode-news-holder .qode-post-info-category a span,
			.qode-news-holder .qode-news-audio-holder .mejs-controls .mejs-time-rail .mejs-time-current,
			.qode-news-holder .qode-self-hosted-video-holder .mejs-controls .mejs-time-rail .mejs-time-current,
			.qode-news-filter-loading .qode-news-filter-loading-table-cell > div,
			.qode-news-pag-loading > div,
			.qode-post-info-hot-trending .qode-news-trending
			 { background-color: #c80831;}


			.qode-news-holder .qode-news-filter .qode-news-active-filter,
			.qode-news-filter-loading,
			.qode-news-standard-pagination ul li.qode-news-pag-active a,
			.qode-news-pag-loading,
			.qode-news-single-news-template .qode-author-description .qode-author-description-text-holder .qode-author-name a:hover,
			.qode-news-single-news-template .qode-comment-holder .qode-comment-text #cancel-comment-reply-link,
			.qode-news-reactions .qode-news-reaction-term .reacted .qode-rt-name
			 { color: #c80831;}

.qode-pl-holder .qode-prl-loading .qode-prl-loading-msg, .qode-pl-holder .qode-pl-categories ul li a:hover, .qode-pl-holder .qode-pl-categories ul li a.active, .qode-pl-holder .qode-pli .qode-pli-rating, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-category, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-excerpt, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-price, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-rating, .qode-pl-holder.qode-info-below-image .qode-pli .qode-pli-text-wrapper .qode-pli-add-to-cart a:hover { color: #c80831;}

.qode-accordion-holder .qode-title-holder { text-transform: none;font-style: normal;}

.qode-btn { text-transform: none;font-style: normal;}

.latest_post_holder.image_on_the_left_boxed .date_hour_holder, .latest_post_holder.image_on_the_left_boxed .featured .read_more:before { background-color: #c80831;}

.qode_video_box .qode_video_image .qode_video_box_button { background-color: #c80831;}

.qode_video_box .qode_video_image:hover .qode_video_box_button { background-color: #1a1a1a;}

.qode_video_box .qode_video_image .qode_video_box_button_arrow { border-left-color: #ffffff;}

.qode_video_box .qode_video_image:hover .qode_video_box_button_arrow { border-left-color: #ffffff;}

